/**
 * dialog.scss
 * @author  yongbing
 * @email   yongbingz@qq.com
 */

$color:#fff;
$baseFontSize: 14px;


//圆角
%rd-common{
	border-radius:10px;
}

.rc-dialog-wrap, .rc-dialog-mask{
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 1000;
	outline: 0 none;
}

.rc-dialog-mask{
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,.8);
}

.rc-dialog-wrap{
	position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
}


.rc-dialog-wrap {
		&{}
		.rc-dialog{
			min-width:400px; 
			min-height:100px;
			position: relative;
			background-color: $color;
			font-size: $baseFontSize;
			box-shadow: 0 1px 2px rgba(0,0,0,.15);
			@extend %rd-common;
			transition: all .3s cubic-bezier(0.48, 0.13, 0.29, 1.53);
			margin:0 auto;
		}
		.rc-dialog-content{
			padding:20px;
		}
		.rc-dialog-close{
			cursor: pointer;
		    border: 0;
		    background: transparent;
		    font-size: 28px;
		    width:20px;
		    text-align:center; 
		    height:20px;
		    line-height:20px;
		    font-weight:normal;
		    position: absolute;
		    right: 10px;
		    top: 10px;
		    color: rgba(0,0,0,0.2);
		    text-decoration: none;
		    outline: 0 none;
		}
}